<!DOCTYPE html>
<html>
  <head>
    <title>Money</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("トップページ", "/home/top") %>
      </div>
      <ul class="header-menus">
        <li>
            <%= link_to("サービス概要", "/home/about") %>
        </li>
        <li>
            <%= link_to("利用規約", "/home/rule") %>
        </li>
        <%if session[:user_mail]%>
        <li>
          <%= link_to("ログアウト", "/user/logout",{method: :post}) %>
        </li>
        <%else%>
        <li>
          <%= link_to("ログイン", "/user/login") %>
        </li>
        <%end%>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
