<!DOCTYPE html>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<html>
  <head>
    <title>Money</title>
    <%= include_gon %>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
      <% @user_name = User.find_by(id: session[:user_id])%>
        <%= javascript_include_tag("sidebar") %>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <%if @user_name%>
          <%= link_to(@user_name.name, "/user/#{@user_name.id}/top") %>
        <%else%>
          <%= link_to("トップページ", "/home/top") %>
        <%end%>
        <ul id="slide-out" class="sidenav">
          <li class="white-text">
            <%= link_to("サービス概要", "/home/about") %>
          </li>
          <li>
              <%= link_to("利用規約", "/home/rule") %>
          </li>
          <%if session[:user_id]%>
            <li>
              <%= link_to("ログアウト", "/user/logout",{method: :post}) %>
            </li>
            <%else%>
            <li>
              <%= link_to("ログイン", "/user/login") %>
            </li>
          <%end%>
        </ul>
    </header>
    <%= yield %>
  </body>
</html>
