require "active_support/time"
<div class="edit_target top-main">
  <div class="edit_target message">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <% time = Time.now %>
    <h1>目標などの変更フォーム</h1>
    <h2>変更しない場合空白のままにしてください</h2>
    <% if @error_message %>
    <div class="error_message">
      <%= @error_message %>
    </div> 
    <% end %>
    <%= form_for @user,url:{action: :edit_target_save} do |m|%>
      <%= javascript_include_tag("datepicker") %>
      <h2>給料日を入力してください。</h2>
      <%= m.text_field :money_limit_day, class: "datepicker", readonly: true%>
      <h2>給料を入力してください。</h2>
      <%=m.number_field :money_limit,{:min => 1, :max =>99999999}%>
      <h2>いくら残したいか入力してください。</h2>
      <%=m.number_field :income,{:min => 1, :max =>99999999}%>
      <p></p>
      <%=m.submit '送信'%>
    <% end %>
  </div>
</div>
