<div class="money_form top-main">
  <div class="money_form message">
  <% if @error_message %>
  <div class="error_message">
    <%= @error_message %>
  </div> 
  <% end %>
  <%= form_for @money,url:{action: :money_form_save} do |m|%>
    <label>
    <%= m.radio_button :income_or_supend, "収入" %> 収入 </label>
    <label><%= m.radio_button :income_or_supend, "支出" %> 支出 </label>
    <label><%= m.radio_button :income_or_supend, "支出(固定)  " %> 支出(固定) </label>
    <h2>金額を入力してください。</h2>
    <%=m.number_field :income_and_spending,{:min => 1, :max => 99999999}%>
    <h2>用途を入力してください。</h2>
    <%=m.text_field :use_for%>
    <p></p>
    <%=m.submit '送信'%>
  <% end %>
  </div>
</div>
