require "active_support/time"
<div class="money_form_tomonth top-main">
  <div class="money_form_tomonth message">
    <% time = Time.now %>
    <h1>今月はいつまでにいくら残しますか？</h1>
    <% if @error_message %>
    <div class="error_message">
      <%= @error_message %>
    </div> 
    <% end %>
    <%= form_for @user,url:{action: :tomonth_target} do |m|%>
      <%= m.text_field :money_limit_day, class: "datepicker"%>
      <script type="text/javascript">
        $(function() {
          $("#datepicker").datepicker();
        });
      </script>
      <h2>いくら残すかを設定してください。</h2>
      <%=m.number_field :money_limit,{:min => 1, :max =>99999999}%>
      <h2>予測される今月の支出を入力してください。</h2>
      <%=m.number_field :income,{:min => 1, :max =>99999999}%>
      <p></p>
      <%=m.submit '送信'%>
    <% end %>
  </div>
</div>
