<div class="delete_account top-main">
  <div class="delete_account form">
    <h1>現在のパスワードを入力してください。</h1>
    <h2><%= link_to("パスワードを忘れた方はこちら", "/user/question") %></h2>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :delete_check} do |u|%>
      <%=u.text_field :name%>
      <p></p>
      <%=u.submit '送信'%>
    <% end %>
  </div>
</div>