<div class="edit_menu_password top-main">
  <div class="edit_menu_password form">
    <h1>現在のパスワードを入力してください。</h1>
    <h2><%= link_to("パスワードを忘れた方はこちら", "/user/question") %></h2>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :renew_password} do |u|%>
      <%=u.password_field :name%>
      <h2>新しいパスワードを入力してください。</h2>
      <%=u.password_field :o_password%>
      <h2>確認のため、もう一度入力してください。</h2>
      <%=u.password_field :re_password%>
      <p></p>
      <%=u.submit '送信'%>
    <% end %>
  </div>
</div>
