<div class="edit_menu_question top-main">
  <div class="edit_menu_question form">
    <h1>現在のパスワードを入力してください。</h1>
    <h2><%= link_to("パスワードを忘れた方はこちら", "/user/question") %></h2>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :renew_question} do |u|%>
      <%=u.password_field :name%>
      <h2>新しい秘密の質問を入力してください。</h2>
      <%=u.text_field :question%>
      <h2>秘密の質問の答えを入力してください。</h2>
      <%=u.text_field :answer%>
      <p></p>
      <%=u.submit '送信'%>
    <% end %>
  </div>
</div>