<div class="join top-main">
  <div class="join message">
    <h1>新規ユーザー登録フォーム</h1>
    <h2>新規登録された場合、<%= link_to("利用規約", "/home/rule") %>に同意したものとみなします。</h2>
    <h2><%= link_to(" ログインはこちら", "/user/login") %></h2>
  </div>
  <% if @error_message %>
    <div class="error_message">
      <%= @error_message %>
    </div>
  <% end %>
  <div class="join form">
    <%=form_tag("/user/sign_in") do%>
      <%if @user_data%>
        <p>ユーザー名</p>
        <input name="name" value="<%=@user_data.name%>">
        <p>メールアドレス</p>
        <input name="email" value="<%=@user_data.email%>">
        <p>パスワード</p>
        <input name="o_password" type="password">
        <p>確認のため、もう一度入力してください</p>
        <input name="re_password" type="password">
        <p>秘密の質問</p>
        <input name="question" value="<%=@user_data.question%>">
        <p>秘密の質問の答え</p>
        <input name="answer" value="<%=@user_data.answer%>">
        <p></p>
        <input type="submit" value="登録">
      <%else%>
        <p>ユーザー名</p>
        <input name="name">
        <p>メールアドレス</p>
        <input name="email">
        <p>パスワード</p>
        <input name="o_password" type="password">
        <p>確認のため、もう一度入力してください</p>
        <input name="re_password" type="password">
        <p>秘密の質問</p>
        <input name="question">
        <p>秘密の質問の答え</p>
        <input name="answer">
        <p></p>
        <input type="submit" value="登録">
      <%end%>
    <%end%>
  </div>
</div>
