<div class="edit_menu_new_passsword top-main">
  <div class="edit_menu_new_passsword form">
    <h1>新しいパスワードを入力してください。</h1>
    <% if @error_message %>
      <div class="error_message">
        <%= @error_message %>
      </div>
    <% end %>
    <%= form_for @user,url:{action: :renew_password} do |u|%>
      <%=u.text_field :o_password%>
      <h2>確認のため、もう一度入力してください。</h2>
      <%=u.text_field :re_password%>
      <p></p>
      <%=u.submit '変更'%>
    <% end %>
  </div>
</div>
