<div class="your_password top-main">
  <div class="your_password message">
  <% if @error_message %>
  <div class="error_message">
    <%= @error_message %>
  </div> 
  <% end %>
  <%= form_for @ans,url:{action: :change_password} do |u|%>
    <%=u.password_field :o_password%>
    <%=u.password_field :re_password%>
    <p></p>
    <%=u.submit '変更'%>
  <% end %>
  </div>
</div>
