<div class="your_password top-main">
  <div class="your_password form">
    <%= form_for @ans,url:{action: :change_password} do |u|%>
      <div class="row">
        <div class="input-field col s10 push-s1">
          <h2>新しいパスワードを入力してください</h2>
          <% if @error_message %>
            <div class="error_message">
              <%= @error_message %>
            </div> 
          <% end %>
          <%=u.password_field :o_password%>
          <h2>確認のためもう一度入力してください</h2>
          <%=u.password_field :re_password%>
        </div>
      </div>
      <p></p>
      <%=u.submit '変更'%>
    <% end %>
  </div>
</div>
